#BACKEND CONFIG
BACKEND_HOST=http://your_backend_url
BACKEND_PORT=your_backend_port

#DATABASE CONFIG
DB_HOST=your_db_host
DB_USER=your_db_user
DB_PASS=your_db_pass
DB_NAME=your_db_name

#TOKEN CONFIG
JWT_AUTH_SECRET=your_jwt_auth_secret_pass
JWT_AUTH_EXPIRATION=(time)m
JWT_REFRESH_SECRET=your_jwt_refresh_secret_pass
JWT_REFRESH_EXPIRATION=(time)d

#ACTIVE DIRECTORY AUTH CONFIG
AD_HOST=your_ad_host
AD_DOMAIN=your_ad_domain

#FRONTEND CONFIG
FRONTEND_HOST=http://your_frontend_host
FRONTEND_PORT=your_frontend_port